.Input {
  position: relative;

  label {
    opacity: 0.6;
    font-size: 1.4rem;
    display: block;
    display: block;
    align-items: baseline;
    margin-bottom: 0.5rem;
  }

  .function-container {
    border: $borders--primary;
    border-radius: $borders--radius-a;
    background: $colors--light;
    width: auto;
    display: inline-block;
    transition: $transitions--primary;

    &:focus-within {
      border-color: rgba($colors--dark, 0.3);
    }

    &._full {
      display: block;
      width: 100%;
    }

    input {
      height: 100%;
      vertical-align: middle;
      font-size: 1.5rem;
      line-height: 1.25rem;
      padding: $space--1;
      transition: $transitions--primary;
      border: 0;
      font-weight: 500;
      border-radius: $borders--radius-a;
      box-sizing: border-box;
      display: inline-block;
      width: 30rem;
      letter-spacing: 0.02rem;
      font-family: $type--parent;
      background: transparent;
      color: inherit;

      &._numeric {
        width: 12rem;
      }
      &._small {
        width: 18rem;
      }
      &._medium {
        width: 26rem;
      }
      &._large {
        width: 34rem;
      }
      &._full {
        width: 100%;
      }

      &:focus {
        border-color: $colors--dark;
        box-shadow: $borders--shadow-b;
      }
    }
    .function {
      display: inline-block;
      height: 100%;
      padding-left: 0.4rem;
      padding-right: 0.4rem;
      vertical-align: middle;

      .Button {
        background-color: rgba(0, 0, 0, 0.01);
        font-size: 1.4rem;
        padding: $space--1;
        box-shadow: none;
        border-style: dotted;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        line-height: 1;

        &:hover {
          background-color: $colors--navy-body;
        }
      }
    }
  }
}

._night .Input {
  .function-container {
    background: $colors--navy-body !important;

    .Button {
      background: rgb(255, 255, 255, 0.2) !important;
      color: $colors--light !important;
      &:hover {
        background: $colors--navy-state !important;
      }
    }
  }
}
