.Cookies {
  background: $colors--light;
  padding: $space--1;
  position: fixed;
  border-radius: $borders--radius-b;
  bottom: $space--1;
  width: 100%;
  min-width: auto;
  max-width: 60rem;
  left: 0;
  right: 0;
  z-index: 99999;
  box-shadow: $borders--shadow-c;
  text-align: center;
  border: $borders--primary;
  clear: both;

  @include phone {
    max-width: 98%;
  }
}

._night .Cookies {
  background: $colors--dark !important;
}
