@mixin theme($background, $text) {
  background-color: $background !important;
  color: $text !important;
}

.Badge {
  padding: ($space--1 * 0.5) $space--1;
  border: 1px solid transparent;
  display: -webkit-inline-block;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  font-weight: inherit;
  border-radius: $borders--radius-c;
  background: $colors--light;
  transition: $transitions--primary;
  @include rhythm(1.6, 1);

  &._disabled {
    cursor: wait;
    opacity: 0.85;
  }

  .pulse {
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  &._shadow {
    box-shadow: $borders--shadow-c;
    border: $borders--primary;
  }
  &._red {
    @include theme($colors--red-body, $colors--red-text);
  }
  &._yellow {
    @include theme($colors--yellow-body, $colors--yellow-text);
  }
  &._green {
    @include theme($colors--green-body, $colors--green-text);
  }
  &._blue {
    @include theme($colors--blue-body, $colors--blue-text);
  }
  &._navy {
    @include theme($colors--navy-body, $colors--navy-text);
  }
  &._purple {
    @include theme($colors--purple-body, $colors--purple-text);
  }
  &._pink {
    @include theme($colors--pink-body, $colors--pink-text);
  }
  &._dark {
    @include theme($colors--dark, $colors--light);
  }
}

._night .Badge {
  background-color: $colors--dark;
  color: $colors--light;

  &._red {
    @include theme(rgba($colors--red-text, 0.8), $colors--red-body);
  }
  &._yellow {
    @include theme(rgba($colors--yellow-text, 0.8), $colors--yellow-body);
  }
  &._green {
    @include theme(rgba($colors--green-text, 0.8), $colors--green-body);
  }
  &._blue {
    @include theme(rgba($colors--blue-text, 0.8), $colors--blue-body);
  }
  &._navy {
    @include theme($colors--navy-state, $colors--light);
  }
  &._purple {
    @include theme(rgba($colors--purple-text, 0.8), $colors--purple-body);
  }
  &._pink {
    @include theme(rgba($colors--pink-text, 0.5), $colors--pink-body);
  }
  &._dark {
    @include theme($colors--dark, $colors--light);
  }
}
