{
  "extends": ["plugin:jsx-a11y/recommended", "@cosmo-au/eslint-config-cosmo"],
  "globals": {
    "React": true,
    "google": true,
    "mount": true,
    "mountWithRouter": true,
    "shallow": true,
    "shallowWithRouter": true,
    "context": true,
    "expect": true,
    "jsdom": true,
    "JSX": true
  },
  "rules": {
    "@next/next/no-html-link-for-pages": 0,
    "import/no-extraneous-dependencies": 0
  }
}
