.DS_Store

.yarn
.yarn-cache
yarn-debug.log*
yarn-error.log*
.pinyarn.js
.yarnrc.yml
.yarnrc.yaml

.env.local
.env.development.local
.env.test.local

.vscode


.parcel-cache
test
fonts.css
public
node_modules

src

.eslintrc
.eslintignore

