button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

@mixin theme($background, $state, $text) {
  background-color: $background !important;
  border-color: rgba($background, 0.1) !important;
  color: $text !important;

  &:hover {
    background-color: $state !important;
  }
}

.Button {
  padding: ($space--1 * 0.33) ($space--2 * 0.66);
  cursor: pointer;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  vertical-align: middle;
  box-shadow: $borders--shadow-a;
  border: $borders--primary;
  font-weight: normal !important;
  border-radius: $borders--radius-a;
  background: $colors--light;
  color: $colors--dark;
  transition: $transitions--primary;
  letter-spacing: 0.02rem;
  @include rhythm(1.65);

  &:focus,
  &::-moz-focus-inner {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: $borders--primary;
  }

  &:hover {
    background-color: $colors--navy-state;
  }

  &:disabled {
    cursor: wait;
    opacity: 0.4;
  }

  &._conceal {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    &:hover {
      background-color: $colors--navy-body;
    }
  }

  &._bolded {
    font-weight: bold !important;
  }
  &._large {
    letter-spacing: 0.02rem;
    @include rhythm(1.8);
  }
  &._transparent {
    background: transparent;
    &:hover {
      background-color: $colors--navy-state;
    }
  }
  &._red {
    @include theme($colors--red-body, $colors--red-state, $colors--red-text);
  }
  &._yellow {
    @include theme($colors--yellow-body, $colors--yellow-state, $colors--yellow-text);
  }
  &._green {
    @include theme($colors--green-body, $colors--green-state, $colors--green-text);
  }
  &._blue {
    @include theme($colors--blue-body, $colors--blue-state, $colors--blue-text);
  }
  &._navy {
    @include theme($colors--navy-body, $colors--navy-state, $colors--navy-text);
  }
  &._purple {
    @include theme($colors--purple-body, $colors--purple-state, $colors--purple-text);
  }
  &._pink {
    @include theme($colors--pink-body, $colors--pink-state, $colors--pink-text);
  }
  &._light {
    @include theme($colors--light, inherit, $colors--dark);
  }
  &._dark {
    background-color: $colors--dark !important;
    border-color: rgba(0, 0, 0, 0.075) !important;
    color: $colors--light !important;

    &:hover {
      background-color: $colors--night !important;
      color: $colors--light !important;
    }
  }
}

._night .Button {
  background-color: $colors--dark;
  color: $colors--light;

  &:hover {
    background-color: $colors--navy-body;
  }

  &._red {
    @include theme(rgba($colors--red-text, 0.5), rgba($colors--red-text, 0.7), $colors--red-state);
  }
  &._yellow {
    @include theme(rgba($colors--yellow-text, 0.5), rgba($colors--yellow-text, 0.7), $colors--yellow-state);
  }
  &._green {
    @include theme(rgba($colors--green-text, 0.5), rgba($colors--green-text, 0.7), $colors--green-state);
  }
  &._blue {
    @include theme(rgba($colors--blue-text, 0.5), rgba($colors--blue-text, 0.7), $colors--blue-state);
  }
  &._navy {
    @include theme($colors--navy-state, $colors--navy-body, $colors--light);
  }
  &._purple {
    @include theme(rgba($colors--purple-text, 0.5), rgba($colors--purple-text, 0.7), $colors--purple-state);
  }
  &._pink {
    @include theme(rgba($colors--pink-text, 0.5), rgba($colors--pink-text, 0.7), $colors--pink-state);
  }
  &._dark {
    background-color: $colors--dark !important;
    border-color: rgba(0, 0, 0, 0.075) !important;
    color: $colors--light !important;

    &:hover {
      background-color: $colors--navy-body !important;
      color: $colors--light !important;
    }
  }
}

._dark .Button {
  border-color: rgba(255, 255, 255, 0.507) !important;
}
