@use 'sass:math';

.Column {
  margin: unset;
  display: inline-block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
  margin-bottom: inherit;
  padding-right: $column--gutter;
  padding-left: $column--gutter;

  @include phone {
    padding-right: $column--gutter-phone * 0.8;
    padding-left: $column--gutter-phone * 0.8;
  }

  @include phone {
    padding-right: $column--gutter-phone;
    padding-left: $column--gutter-phone;
  }

  @include micro {
    @include render-column-micro(5, 5);
    @include render-column-micro(10, 10);
    @include render-column-micro(15, 15);
    @include render-column-micro(20, 20);
    @include render-column-micro(25, 25);
    @include render-column-micro(30, 30);
    @include render-column-micro(33.333, 33);
    @include render-column-micro(35, 35);
    @include render-column-micro(40, 40);
    @include render-column-micro(50, 50);
    @include render-column-micro(60, 60);
    @include render-column-micro(65, 65);
    @include render-column-micro(66.666, 66);
    @include render-column-micro(70, 70);
    @include render-column-micro(75, 75);
    @include render-column-micro(80, 80);
    @include render-column-micro(85, 85);
    @include render-column-micro(90, 90);
    @include render-column-micro(95, 95);
    @include render-column-micro(100, 100);
    @include render-offset-micro(0, 0);
    @include render-offset-micro(5, 5);
    @include render-offset-micro(10, 10);
    @include render-offset-micro(15, 15);
    @include render-offset-micro(20, 20);
    @include render-offset-micro(25, 25);
    @include render-offset-micro(30, 30);
    @include render-offset-micro(33.333, 33);
    @include render-offset-micro(35, 35);
    @include render-offset-micro(40, 40);
    @include render-offset-micro(50, 50);
    @include render-offset-micro(60, 60);
    @include render-offset-micro(65, 65);
    @include render-offset-micro(66.666, 66);
    @include render-offset-micro(70, 70);
    @include render-offset-micro(75, 75);
    @include render-offset-micro(80, 80);
    @include render-offset-micro(85, 85);
    @include render-offset-micro(90, 90);
    @include render-offset-micro(95, 95);
  }

  @include phone {
    @include render-column-phone(5, 5);
    @include render-column-phone(10, 10);
    @include render-column-phone(15, 15);
    @include render-column-phone(20, 20);
    @include render-column-phone(25, 25);
    @include render-column-phone(30, 30);
    @include render-column-phone(33.333, 33);
    @include render-column-phone(35, 35);
    @include render-column-phone(40, 40);
    @include render-column-phone(50, 50);
    @include render-column-phone(60, 60);
    @include render-column-phone(65, 65);
    @include render-column-phone(66.666, 66);
    @include render-column-phone(70, 70);
    @include render-column-phone(75, 75);
    @include render-column-phone(80, 80);
    @include render-column-phone(85, 85);
    @include render-column-phone(90, 90);
    @include render-column-phone(95, 95);
    @include render-column-phone(100, 100);
    @include render-offset-phone(0, 0);
    @include render-offset-phone(5, 5);
    @include render-offset-phone(10, 10);
    @include render-offset-phone(15, 15);
    @include render-offset-phone(20, 20);
    @include render-offset-phone(25, 25);
    @include render-offset-phone(30, 30);
    @include render-offset-phone(33.333, 33);
    @include render-offset-phone(35, 35);
    @include render-offset-phone(40, 40);
    @include render-offset-phone(50, 50);
    @include render-offset-phone(60, 60);
    @include render-offset-phone(65, 65);
    @include render-offset-phone(66.666, 66);
    @include render-offset-phone(70, 70);
    @include render-offset-phone(75, 75);
    @include render-offset-phone(80, 80);
    @include render-offset-phone(85, 85);
    @include render-offset-phone(90, 90);
    @include render-offset-phone(95, 95);
  }

  @include tablet {
    @include render-column(5, 5);
    @include render-column(10, 10);
    @include render-column(15, 15);
    @include render-column(20, 20);
    @include render-column(25, 25);
    @include render-column(30, 30);
    @include render-column(33.333, 33);
    @include render-column(35, 35);
    @include render-column(40, 40);
    @include render-column(50, 50);
    @include render-column(60, 60);
    @include render-column(65, 65);
    @include render-column(66.666, 66);
    @include render-column(70, 70);
    @include render-column(75, 75);
    @include render-column(80, 80);
    @include render-column(85, 85);
    @include render-column(90, 90);
    @include render-column(95, 95);
    @include render-column(100, 100);
    @include render-offset(0, 0);
    @include render-offset(5, 5);
    @include render-offset(10, 10);
    @include render-offset(15, 15);
    @include render-offset(20, 20);
    @include render-offset(25, 25);
    @include render-offset(30, 30);
    @include render-offset(33.333, 33);
    @include render-offset(35, 35);
    @include render-offset(40, 40);
    @include render-offset(50, 50);
    @include render-offset(60, 60);
    @include render-offset(65, 65);
    @include render-offset(66.666, 66);
    @include render-offset(70, 70);
    @include render-offset(75, 75);
    @include render-offset(80, 80);
    @include render-offset(85, 85);
    @include render-offset(90, 90);
    @include render-offset(95, 95);
  }

  @include tablet-specific {
    @include render-column-tablet(5, 5);
    @include render-column-tablet(10, 10);
    @include render-column-tablet(15, 15);
    @include render-column-tablet(20, 20);
    @include render-column-tablet(25, 25);
    @include render-column-tablet(30, 30);
    @include render-column-tablet(33.333, 33);
    @include render-column-tablet(35, 35);
    @include render-column-tablet(40, 40);
    @include render-column-tablet(50, 50);
    @include render-column-tablet(60, 60);
    @include render-column-tablet(65, 65);
    @include render-column-tablet(66.666, 66);
    @include render-column-tablet(70, 70);
    @include render-column-tablet(75, 75);
    @include render-column-tablet(80, 80);
    @include render-column-tablet(85, 85);
    @include render-column-tablet(90, 90);
    @include render-column-tablet(95, 95);
    @include render-column-tablet(100, 100);
    @include render-offset-tablet(0, 0);
    @include render-offset-tablet(5, 5);
    @include render-offset-tablet(10, 10);
    @include render-offset-tablet(15, 15);
    @include render-offset-tablet(20, 20);
    @include render-offset-tablet(25, 25);
    @include render-offset-tablet(30, 30);
    @include render-offset-tablet(33.333, 33);
    @include render-offset-tablet(35, 35);
    @include render-offset-tablet(40, 40);
    @include render-offset-tablet(50, 50);
    @include render-offset-tablet(60, 60);
    @include render-offset-tablet(65, 65);
    @include render-offset-tablet(66.666, 66);
    @include render-offset-tablet(70, 70);
    @include render-offset-tablet(75, 75);
    @include render-offset-tablet(80, 80);
    @include render-offset-tablet(85, 85);
    @include render-offset-tablet(90, 90);
    @include render-offset-tablet(95, 95);
  }

  @include laptop-specific {
    @include render-column-laptop(5, 5);
    @include render-column-laptop(10, 10);
    @include render-column-laptop(15, 15);
    @include render-column-laptop(20, 20);
    @include render-column-laptop(25, 25);
    @include render-column-laptop(30, 30);
    @include render-column-laptop(33.333, 33);
    @include render-column-laptop(35, 35);
    @include render-column-laptop(40, 40);
    @include render-column-laptop(50, 50);
    @include render-column-laptop(60, 60);
    @include render-column-laptop(65, 65);
    @include render-column-laptop(66.666, 66);
    @include render-column-laptop(70, 70);
    @include render-column-laptop(75, 75);
    @include render-column-laptop(80, 80);
    @include render-column-laptop(85, 85);
    @include render-column-laptop(90, 90);
    @include render-column-laptop(95, 95);
    @include render-column-laptop(100, 100);
    @include render-offset-laptop(0, 0);
    @include render-offset-laptop(5, 5);
    @include render-offset-laptop(10, 10);
    @include render-offset-laptop(15, 15);
    @include render-offset-laptop(20, 20);
    @include render-offset-laptop(25, 25);
    @include render-offset-laptop(30, 30);
    @include render-offset-laptop(33.333, 33);
    @include render-offset-laptop(35, 35);
    @include render-offset-laptop(40, 40);
    @include render-offset-laptop(50, 50);
    @include render-offset-laptop(60, 60);
    @include render-offset-laptop(65, 65);
    @include render-offset-laptop(66.666, 66);
    @include render-offset-laptop(70, 70);
    @include render-offset-laptop(75, 75);
    @include render-offset-laptop(80, 80);
    @include render-offset-laptop(85, 85);
    @include render-offset-laptop(90, 90);
    @include render-offset-laptop(95, 95);
  }

  @include desktop {
    @include render-column-desktop(5, 5);
    @include render-column-desktop(10, 10);
    @include render-column-desktop(15, 15);
    @include render-column-desktop(20, 20);
    @include render-column-desktop(25, 25);
    @include render-column-desktop(30, 30);
    @include render-column-desktop(33.333, 33);
    @include render-column-desktop(35, 35);
    @include render-column-desktop(40, 40);
    @include render-column-desktop(50, 50);
    @include render-column-desktop(60, 60);
    @include render-column-desktop(65, 65);
    @include render-column-desktop(66.666, 66);
    @include render-column-desktop(70, 70);
    @include render-column-desktop(75, 75);
    @include render-column-desktop(80, 80);
    @include render-column-desktop(85, 85);
    @include render-column-desktop(90, 90);
    @include render-column-desktop(95, 95);
    @include render-column-desktop(100, 100);
    @include render-offset-desktop(0, 0);
    @include render-offset-desktop(5, 5);
    @include render-offset-desktop(10, 10);
    @include render-offset-desktop(15, 15);
    @include render-offset-desktop(20, 20);
    @include render-offset-desktop(25, 25);
    @include render-offset-desktop(30, 30);
    @include render-offset-desktop(33.333, 33);
    @include render-offset-desktop(35, 35);
    @include render-offset-desktop(40, 40);
    @include render-offset-desktop(50, 50);
    @include render-offset-desktop(60, 60);
    @include render-offset-desktop(65, 65);
    @include render-offset-desktop(66.666, 66);
    @include render-offset-desktop(70, 70);
    @include render-offset-desktop(75, 75);
    @include render-offset-desktop(80, 80);
    @include render-offset-desktop(85, 85);
    @include render-offset-desktop(90, 90);
    @include render-offset-desktop(95, 95);
  }

  @include wide {
    @include render-column-wide(5, 5);
    @include render-column-wide(10, 10);
    @include render-column-wide(15, 15);
    @include render-column-wide(20, 20);
    @include render-column-wide(25, 25);
    @include render-column-wide(30, 30);
    @include render-column-wide(33.333, 33);
    @include render-column-wide(35, 35);
    @include render-column-wide(40, 40);
    @include render-column-wide(50, 50);
    @include render-column-wide(60, 60);
    @include render-column-wide(65, 65);
    @include render-column-wide(66.666, 66);
    @include render-column-wide(70, 70);
    @include render-column-wide(75, 75);
    @include render-column-wide(80, 80);
    @include render-column-wide(85, 85);
    @include render-column-wide(90, 90);
    @include render-column-wide(95, 95);
    @include render-column-wide(100, 100);
    @include render-offset-wide(0, 0);
    @include render-offset-wide(5, 5);
    @include render-offset-wide(10, 10);
    @include render-offset-wide(15, 15);
    @include render-offset-wide(20, 20);
    @include render-offset-wide(25, 25);
    @include render-offset-wide(30, 30);
    @include render-offset-wide(33.333, 33);
    @include render-offset-wide(35, 35);
    @include render-offset-wide(40, 40);
    @include render-offset-wide(50, 50);
    @include render-offset-wide(60, 60);
    @include render-offset-wide(65, 65);
    @include render-offset-wide(66.666, 66);
    @include render-offset-wide(70, 70);
    @include render-offset-wide(75, 75);
    @include render-offset-wide(80, 80);
    @include render-offset-wide(85, 85);
    @include render-offset-wide(90, 90);
    @include render-offset-wide(95, 95);
  }
  @include tablet-specific {
    &.padding-right {
      padding-right: $space--3;
    }

    &.padding-left {
      padding-left: $space--3;
    }

    &.padding-right-half {
      padding-right: ($space--3 * 0.5);
    }

    &.padding-left-half {
      padding-left: ($space--3 * 0.5);
    }

    &.padding-right-0-tablet {
      padding-right: $column--gutter;
    }

    &.padding-left-0-tablet {
      padding-left: $column--gutter;
    }
  }

  @include laptop {
    &.padding-right {
      padding-right: math.div($space--4, 1.5);
    }

    &.padding-left {
      padding-left: math.div($space--4, 1.5);
    }

    &.padding-right-half {
      padding-right: ($space--3 * 0.5);
    }

    &.padding-left-half {
      padding-left: ($space--3 * 0.5);
    }
  }
  &._minimal {
    padding-left: 0;
    padding-right: 0;
  }
}
