/* Spacing */
$space--base: 0.33rem;
$space--1: $space--base * 2.5 !default;
$space--2: $space--base * 5 !default;
$space--3: $space--base * 10 !default;
$space--4: $space--base * 15 !default;
$space--5: $space--base * 25 !default;
$space--6: $space--base * 50 !default;

$break--0: 380px !default;
$break--1: 800px !default;
$break--2: 1000px !default;
$break--3: 1300px !default;
$break--4: 2000px !default;

$width--phone: 99% !default;
$width--tablet: 99% !default;
$width--laptop: 1250px !default;
$width--desktop: 1500px !default;
$width--wide-a: 98% !default;
$width--wide-b: 1800px !default;

/* Type */
$type--parent: 'Graphik', system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif !default;

/* Colors */
$colors--light: #ffffff;
$colors--alternate: #e6f0f1;

$colors--dark: #042c3f;
$colors--night: #1d4457;
$colors--red-text: #a54741;
$colors--red-body: #f7e0e0;
$colors--red-state: #f1caca;
$colors--yellow-text: #ac7105;
$colors--yellow-body: #fcefdc;
$colors--yellow-state: #f5e2c3;
$colors--green-text: #086970;
$colors--green-body: #dff6fa;
$colors--green-state: #c3f1f5;
$colors--blue-text: #055b8d;
$colors--blue-body: #e0ecf7;
$colors--blue-state: #d0ddec;
$colors--navy-text: $colors--dark;
$colors--navy-body: rgba(0, 76, 104, 0.05);
$colors--navy-state: rgba(0, 84, 114, 0.1);
$colors--purple-text: #59218d;
$colors--purple-body: #efe0f7;
$colors--purple-state: #e2d0ec;
$colors--pink-text: #6b1a53;
$colors--pink-body: #f8dff1;
$colors--pink-state: #f3cae7;

/* Elements */
$body--base: $colors--light !default;
$column--gutter: $space--2 * 0.66 !default;
$column--gutter-phone: $space--1 !default;

$transitions--primary: all 0.15s ease-in-out !default;

$borders--primary: 0.1rem solid rgb(222, 228, 233) !default;
$borders--night: 0.1rem solid rgba(215, 208, 255, 0.1) !default;
$borders--radius-a: 0.5rem !default;
$borders--radius-b: 0.75rem !default;
$borders--radius-c: 1.5rem !default;

$borders--shadow-a: 0 0.233rem 0.5rem rgba(0, 0, 0, 0.05) !default;
$borders--shadow-b: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.04) !default;
$borders--shadow-c: 0 0.6rem 2rem 0.1rem rgba(0, 0, 0, 0.066) !default;
