.Alert {
  position: fixed;
  transition: $transitions--primary;
  z-index: 6;

  &._active {
    background-color: rgba(0, 0, 0, 0.44);
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0;
    bottom: 0;
    pointer-events: auto;
    scroll-behavior: smooth;
    transition: all 0.33s ease-in-out;
    z-index: 6;
    overscroll-behavior: contain;

    .content {
      vertical-align: middle;
      background: $colors--light;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90vw;
      max-width: 50rem;
      max-height: 85vh;

      @include phone {
        width: 95%;
        max-width: 100%;
      }
    }
  }
}
