@use 'sass:math';

.Section {
  display: flex;
  flex-direction: row;
  width: 100%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  &._stretched {
    .Card {
      height: 100%;

      row {
        height: 100%;
      }
    }
  }

  &._minimal {
    padding: 0;

    .Column {
      padding: 0;
    }
  }
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
